<!--
  File name:      aboutme.ejs
  Student’s Name: LAU, Wai Yung
  Student ID:     301269737
  Date:           28 Sept 2022
-->
<br>
<h4 class="display-8 navbar-text"><p>
Here is the information of ME:</p>
</h4>
<br>
<table class="table table-striped">
  <tr>
    <td><b>Legal Name:</b></td>
    <td>Wai Yung, LAU</td>
    <td rowspan="6" valign="centre"><img src="/Assets/images/vyonne.jpg" height="280"></td>
  </tr>
  <tr>
    <td><b>Other Name:</b></td>
    <td>Vyonne</td>
  </tr>
  <tr>
    <td><b>Gender:</b></td>
    <td>Female</td>
  </tr>
  <tr>
    <td><b>Hometown:</b></td>
    <td>Hong Kong</td>
  </tr>
  <tr>
    <td><b>Description about ME:</b></td>
    <td>
        I am a new student of Centennial College.  I take a 2-year diploma course of AI. <br>This is the first semester for me. <br><br>
        Before that I worked as Banking IT in Hong Kong for more than 10 years.<br><br>
        My hobbies are cooking, drawing and hanging out with friends.
    </td>
  </tr>
  <tr>
    <td>Link to my resume:</td>
    <td>
        <a href="/Assets/docs/Vyonne Lau - CV (2022).pdf" class="btn btn-info" tabindex="-1" role="button" >Resume</a>
    </td>
    <td></td>
  </tr>
</table>