<!--
  File name:      bottom_nav.ejs
  Student’s Name: LAU, Wai Yung
  Student ID:     301269737
  Date:           28 Sept 2022
-->
  
  <!-- bottom nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="display-10 navbar-text">&copy; Copyright 2022. All Rights reserved.</h6>
      </div>
    </nav>
  </footer>