<!--
  File name:      home.ejs
  Student’s Name: LAU, Wai Yung
  Student ID:     301269737
  Date:           28 Sept 2022
-->

<br>
<h4 class="display-8 navbar-text"><p>
This is my first homepage built with node.js.<br><br><br>
<i>Learning new things makes us always refreshing. We should keep ourselves of up-to-date technology so as to keep our value.</i>
<br><br>
If you want to know more about me, you can go to
<a href="/about" class="btn btn-info" tabindex="-1" role="button" >About Me</a>
</p>
</h6>