<!--
  File name:      projects.ejs
  Student’s Name: LAU, Wai Yung
  Student ID:     301269737
  Date:           28 Sept 2022
-->
<br>
<h4 class="display-8 navbar-text"><p>
I would like to highlight 3 projects I have been worked in last 4 years.</p>
</h4>
<br>
<table class="table table-striped">
  <tr>
    <th style="width:10%">#</th>
    <th style="width:30%">Project Name</th>
    <th style="width:60%">Brief Description</th>
  </tr>
  <tr>
    <td><b>1</b></td>
    <td>Hong Kong Faster Payment System (2018) <img src="Assets/images/fps.png" height="50"></td>
    <td><p>The Faster Payment System (FPS) is a payment financial infrastructure introduced in 2018 by the Hong Kong Monetary Authority (HKMA) and operated by Hong Kong Interbank Clearing Limited (HKICL) to enable instant payments in Hong Kong, providing consumers and merchants a safe, efficient and widely accessible retail payment service on a 24/7 basis.  FPS offers individuals and businesses a new choice and experience for making payments in multiple currencies – Hong Kong dollar (HKD) and Renminbi (RMB) – in real time.  HSBC is one of the biggest banks in Hong Kong, which consisted of around 4 millions and 0.5 million personal banking and commercial banking customers.  This is around 50% of FPS coverage in Hong Kong.  I am the test lead of HSBC and Hang Seng (HASE), serving both personal and commercial banking features.</p></td>
  </tr>
  <tr>
    <td><b>2</b></td>
    <td>Next Generation Telephony (NGT) of Australia, New Zealand, Philippines, Vietnam and Taiwan implementation (2019) <img src="Assets/images/genesys.png" height="50"></td>
    <td><p>The Next Generation Contact Centre programme replaced HSBC legacy Contact Centre technologies with a new platform from Genesys.  NGT is a global solution of Contact Centre in HSBC.  I am one of the test leads to implement this solution to varies ASP countries including Australia, New Zealand, Taiwan etc.  The hardware and NGT servers are located within the servicing country.  This has created complexity in handling some server testing as well as disaster recovery process.  On the other hand, I also took the led in performance testing to ensure the peak volume of call flow can support around 1000 transaction flow per hour.  The project launched on time and successfully.  Currently the same system is supporting Australia HSBC customers phone-banking experience.</p></td>
  </tr>
  <tr>
    <td><b>3</b></td>
    <td>New Zealand Inland Revenue Department – Tax information transmission  (2021) <img src="Assets/images/ird.jpeg" height="50"></td>
    <td><p>New Zealand Inland Revenue (IR) has established a new set of Identity and Access services.  This triggered the connecting parties to access IR in a new Gateway Services.  In view of this, HSBC has to design a new framework in order to connect to IR in order to transmit Tax information through XML file.  However, HSBC global architects claimed that there was no current solution in HSBC to support the protocol of the new Gateway.  As I am the Project Manager, I took the lead to line up our global architects and regional engineers to derive the solution.  The solution design was finalized in Dec 2020 and project was successfully implemented in May 2021./</p></td>
  </tr>
</table>