<!--
  File name:      services_w.ejs
  Student’s Name: LAU, Wai Yung
  Student ID:     301269737
  Date:           28 Sept 2022
-->

<ul>
  <p></p>
  <p><h6 class="display-8 navbar-text">Node.js will be used for Web Development.  The advantages of using node.js:</h6></p>
  <p><br></p>
  <table>
    <tr>
      <td width="80%">
        <ul>
          <li><h6 class="display-8 navbar-text">It is easy to learn and kept things simple.</h6></li>
          <li><h6 class="display-8 navbar-text">Faster time-to-market.</h6></li>
          <li><h6 class="display-8 navbar-text">Enable scalability.</h6></li>
          <li><h6 class="display-8 navbar-text">MVP development.</h6></li>
          <li><h6 class="display-8 navbar-text">A lot of support and feedback available.</h6></li>
        </ul>
      </td>
      <td align="right">
        <img src="/Assets/images/nodejs.svg" height="180">
      </td>
</ul>