<!--
  File name:      services_p.ejs
  Student’s Name: LAU, Wai Yung
  Student ID:     301269737
  Date:           28 Sept 2022
-->
<ul>
<p></p>
<p><h6 class="display-8 navbar-text">I provide the following programming languages for development:</h6></p>
<p><br>
<table>
  <tr>
    <td width="30%">
      <img src="/Assets/images/Java_logo.png" height="200">
    </td>
    <td width="30%">
      <img src="/Assets/images/ISO_C++_Logo.png" height="200"> 
    </td>
    <td>
      <img src="/Assets/images/Python.png" height="200"> 
    </td>
  </tr>
</table>
</p>
</ul>

