<!--
  File name:      services_g.ejs
  Student’s Name: LAU, Wai Yung
  Student ID:     301269737
  Date:           28 Sept 2022
-->

<ul>
  <p></p>
  <p><h6 class="display-8 navbar-text">I also design the logo and graphic according to fit the content of the website:<br>
  Here are some customised graphic.</h6></p>
  <p><br>
  <table width="100%">
    <tr>
      <td width="25%">
        <img src="/Assets/images/IMG_2707.png" height="300">
      </td><td width="25%">
        <img src="/Assets/images/IMG_2711.png" height="300">
      </td><td width="25%">
        <img src="/Assets/images/IMG_2715.png" height="300">
      </td><td width="25%">
        <img src="/Assets/images/IMG_2721.png" height="300">
      </td>
    </tr>
  </table>
  </p>
  </ul>